<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cordoba</th>
          <th scope="col">Ferreyra</th>
          <th scope="col">Km80</th>
          <th scope="col">Toledo</th>
          <th scope="col">Pilar</th>
          <th scope="col">Rio Segundo</th>
          <th scope="col">Laguna Larga</th>
          <th scope="col">Gestion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of horario">
          <th scope="row">{{item.id}}</th>
          <td>{{item.cordoba}}</td>
          <td>{{item.ferreyra}}</td>
          <td>{{item.km80}}</td>
          <td>{{item.toledo}}</td>
          <td>{{item.rioSegundo}}</td>
          <td>{{item.pilar}}</td>
          <td>{{item.lagunaLarga}}</td>
          <td><button class="btn btn-info" (click)="editarHorarios(item.id)">Editar</button></td>
          <td><button class="btn btn-primary" routerLink="/horario/nuevo">Agregar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
