<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cordoba</th>
          <th scope="col">Ferreyra</th>
          <th scope="col">Km80</th>
          <th scope="col">Toledo</th>
          <th scope="col">Pilar</th>
          <th scope="col">Rio Segundo</th>
          <th scope="col">Laguna Larga</th>
          <th scope="col">Gestion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{horario.id}}</th>
          <td>{{horario.cordoba}}</td>
          <td>{{horario.ferreyra}}</td>
          <td>{{horario.km80}}</td>
          <td>{{horario.toledo}}</td>
          <td>{{horario.rioSegundo}}</td>
          <td>{{horario.pilar}}</td>
          <td>{{horario.lagunaLarga}}</td>
          <td><button class="btn btn-info">Editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
